doctype html
html(lang="en")

head
		title= AlonsoViajes
		//- script(src="less.js" type="text/javascript")
		script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js")
		link(rel="stylesheet/less" type="text/css" href="jadeTest.less") 


body
	h1 jadeTest
	div.jadeTest a

	//- form(name='login', action='/login.js', method='post')
	//- 	input(type='text', name='BField')